.contenedor{
    display: grid;
    grid-template-columns:repeat(1,3fr) ;
    margin: 2%;
}
body{
    background-color: slategrey;
}
.section1{
    border-width: 3px;
    border-style: solid;
    border-color:black;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section2{
    border-width: 3px;
    border-style: solid;
    border-color:black;
    text-align: center;
}
.section3{
    border-width: 3px;
    border-style: solid;
    border-color:black;
}
.section4{
    border-width: 3px;
    border-style: solid;
    border-color:black;
    float: left;
    padding-top: -100px;
}
.cabecera{
    margin-top: 5%;
    background-position: center;
    height: 486px;
    background-image: url('../img/Imagen\ 1.jpg');
    border-color: black;
    border-style: solid;
}
h2{
    color: black;
    margin-bottom: -90px;
    margin-left: 30px

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
  
}
.contenedor2{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 100%;
    background-color: red;
}
